* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(45deg, white, rgb(80, 80, 80));
}

img {
    width: 100px;
    height: 130px;
}

#btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background: linear-gradient(50deg, red, white);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#navbar {
    padding: 20px;
    width: 100%;
    background: linear-gradient(90deg, black, red);
    margin-bottom: 10px;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    transition: 1s;
}

.navbar .icon {
    display: none;
    background-color: white;
    width: 20px;
    transition: 1s;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
        padding: 10px;
        transition: 1s;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
        transition: 1s;
    }
    .navbar.responsive .icon {
        position: absolute;
        left: 0;
        top: 0;
        transition: 1s;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: right;
        height: 100%;
        transition: 1s;
    }
}

body {
    font-family: "Lato", sans-serif;
}

.sidepanel {
       width: 100%;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, black, red);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 1s;
    text-align: center;
    width: 100%;
}

.sidepanel a:hover {
    color: black;
}

.closebtn {
    float: left;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
 
    font-size: 36px;
        
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 100%;
}

.openbtn:hover {
    background-color: #444;
}

.text {
    background: linear-gradient(50deg, rgb(6, 240, 6), red);
    font-size: 50px;
    mix-blend-mode: screen;
    transition: linear;
}

.bonjour {
    text-align: center;
    color: beige;
    text-decoration: beige;
    padding: 5px;
    float: right;
    transition: 1s;
}

.bonjour:hover {
    color: black;
    background-color: white;
    padding: 5px;
    width: 100%;
}

.active {
    background-color: white;
    color: black;
}


/* Float four columns side by side */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin-bottom: 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */

.card {
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    transition: 1s;
}

#channel {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.card:hover {
    box-shadow: 12px 12px 15px 0 gray;
}

a {
    text-decoration: none;
    margin-bottom: 10px;
}

button {
    background: linear-gradient(80deg, DodgerBlue, white);
    border: none;
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    align-content: center;
    text-align: center;
    transition: 1s;
}

button:hover {
    background: linear-gradient(80deg, black, DodgerBlue);
    color: white;
}
